@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --themeColor: #f67d8f;
    --themeColorLight: #ffc0cb;
    --themeColorDark: #a8616e;

    --mp-primary-color: var(--themeColor);
}

/*进度条颜色*/
#nprogress .bar {
    height: 4px !important; /* 设置进度条的高度 */
    background-color: var(--themeColor) !important;
}
#nprogress .peg {
    box-shadow: 0 0 10px var(--themeColorLight), 0 0 5px var(--themeColorLight) !important;

}
* {
    font-family: Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
}

body {
    margin: 0;
    background-color: #f3f4f6;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

a[href], .link {
    color: var(--themeColor);
    text-decoration: none;
}

/* 播放器样式 */
.mfuns-player-footbar {
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
    height: 32px;
}

.mfuns-player-danmakubar-input-wrap {
    background-color: #fff !important;
}

.mfuns-player-button-widescreen {
    display: none !important;
}